@model DoActionInsert.UI.Models.ContactVm
<form>
    <fieldset>
        <legend>Contact info</legend>
        @Html.TextBoxFor(r => r.First)
        @Html.TextBoxFor(r => r.Last)
        @Html.TextBoxFor(r => r.City)            
    </fieldset>
</form>