@model DoActionInsert.UI.Models.ContactVm

<span class="label-success">
    First:@Model.First
</span>
<span class="label-primary">
    Last:@Model.Last
</span>
<span class="label-danger">
    City:@Model.City
</span>